apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: coffeeshopdb
  namespace: {{ project_namespace }}
spec:
  backups:
    pgbackrest:
      image: >-
        registry.connect.redhat.com/crunchydata/postgres-operator@sha256:bb3c51aa1e961f139376b50b76261107a29bad67305c253a147eb9672fc4468f
      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 1Gi
  image: registry.connect.redhat.com/crunchydata/postgres-operator@sha256:bb3c51aa1e961f139376b50b76261107a29bad67305c253a147eb9672fc4468f
  instances:
    - name: coffeeshopdb
      replicas: 1
      dataVolumeClaimSpec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
  port: 5432
  postgresVersion: 17
  users:
    - name: coffeeshopadmin
      databases:
        - coffeeshopdb

